h1 
{
    align:left; 
    margin-left:100px
}

span 
{
    margin-left:100px
}


#canvas 
{
    position: absolute; 
    width: 400px; 
    height: 400px;
    left:100px; 
    top:150px; 
    border-style:solid;
}

.cell
{
    position:absolute;
}

.alive 
{
    background-color:blue; 
}
        
.dead 
{
    background-color:white;
}