h1 
{
    align:left; 
    margin-left:100px
}

span 
{
    margin-left:100px
}


.canvas_container 
{
    position: absolute; 
    width: 400px; 
    height: 400px
}

.first.canvas_container 
{
    left:100px; 
    top:100px
}

.second.canvas_container 
{
    left:100px; 
    top:550px; 
    border-style:solid; 
    margin-bottom:3cm;
}
                           
.test
{
    left:100px; 
    top:1000px; 
    boarder-style:solid; 
    position:relative;
    background-color:blue; 
    width:100px; 
    height:100px
}

.cell
{
    position:absolute;
}

.alive 
{
    background-color:blue; 
}
        
.dead 
{
    background-color:white 
}